APP_NAME="SaaS Starter"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
COMPANY_NAME="SaaS Starter"
COMPANY_EMAIL=hello@example.com
SUPPORT_EMAIL=support@example.com
PRIVACY_EMAIL=privacy@example.com
COMPANY_ADDRESS=
APP_SAME_AS=

ADMIN_PATH=admin
CORS_ALLOWED_ORIGINS=http://localhost:8000,https://accounts.google.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=database
QUEUE_CONNECTION=database
FILESYSTEM_DISK=local

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# GOOGLE_REDIRECT_URI="${APP_URL}/auth/google/callback"
PRODUCT_KIT_CHROME_REDIRECT_URI=https://example.chromiumapp.org/callback
PRODUCT_KIT_MOBILE_REDIRECT_URI=starter://callback

STRIPE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
STRIPE_PORTAL_CONFIGURATION=

STARTER_STRIPE_PRODUCT_ID=
STARTER_PLUS_MONTHLY_STRIPE_PRICE_ID=
STARTER_CREDITS_10_STRIPE_PRICE_ID=

PASSPORT_PRIVATE_KEY=
PASSPORT_PUBLIC_KEY=
PASSPORT_PASSWORD_CLIENT_ID=
PASSPORT_PASSWORD_CLIENT_SECRET=

ADMIN_EMAIL=
ADMIN_EMAILS=
ADMIN_PASSWORD=change-me
